@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #3a332d;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
}

@media (max-width: 1382px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/**
 * Basic typography style for copy text
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1382px) {
  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__list-item {
  margin: 0 20px;
}

.header__list-link {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 1382px) {
  .header__list-link {
    font-size: 14px;
  }
}

.header__link {
  -ms-flex-preferred-size: 177px;
      flex-basis: 177px;
  padding-bottom: 10%;
  position: relative;
}

.header__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1382px) {
  .header__link {
    -ms-flex-preferred-size: 110px;
        flex-basis: 110px;
    padding-bottom: 9%;
  }
}

.hero {
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: center;
}

.hero__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 115px;
  max-width: 800px;
}

@media (max-width: 991.98px) {
  .hero__title {
    font-size: 35px;
    line-height: 35px;
    max-width: 650px;
  }
}

@media (max-width: 767.98px) {
  .hero__title {
    font-size: 30px;
    line-height: 30px;
    max-width: 540px;
  }
}

@media (max-width: 479.98px) {
  .hero__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.hero__link {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.about {
  color: #ffffff;
  background-image: url(../../images/sec1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 42px 0;
}

.about__top {
  text-align: center;
}

.about__sub {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.about__title {
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 40px;
}

.about__descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
  margin-bottom: 65px;
  max-width: 1028px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1075px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 50px;
}

.about__item {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  text-align: center;
}

.about__item-digit {
  font-weight: 500;
  font-size: 72px;
  color: #ccbaa6;
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .about__item-digit {
    font-size: 62px;
  }
}

.about__item-text {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .about__item-text {
    font-size: 14px;
  }
}

.about__box {
  padding: 40px 62px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.225)), color-stop(38.13%, rgba(0, 0, 0, 0.5)), color-stop(57.96%, rgba(0, 0, 0, 0.5)), color-stop(97.61%, rgba(0, 0, 0, 0.225)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.225) 0%, rgba(0, 0, 0, 0.5) 38.13%, rgba(0, 0, 0, 0.5) 57.96%, rgba(0, 0, 0, 0.225) 97.61%);
  border-radius: 4px;
}

.about__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 35px;
}

.about__p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.about__btns {
  margin-top: 45px;
  text-align: center;
}

.about__btn:last-child {
  margin-left: 35px;
}

.cert {
  background-color: #fff;
  padding: 50px 0 92px;
}

.cert__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: #333333;
  margin-bottom: 50px;
}

@media (max-width: 991.98px) {
  .cert__title {
    font-size: 32px;
  }
}

@media (max-width: 479.98px) {
  .cert__title {
    font-size: 28px;
  }
}

.cert__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

@media (max-width: 1382px) {
  .cert__box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .cert__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.cert__box-item {
  width: 250px;
  height: 300px;
}

.btn-std {
  min-width: 170px;
  border-radius: 4px;
  height: 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0 35px;
  background-color: #CCBAA6;
  border: 1px solid #CCBAA6;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.btn-std:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #CCBAA6;
}

/*
==========================================================
В Хедере нужно чтобы была такая обертка:

.header__menu

внутри сам бургер 

<div class="icon-menu">
<span></span>
<span></span>
<span></span>
</div>

и ниже пункты меню, которые уберутся в бургер

nav.menu__body
  ul
    li
      a

*/
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.burger-active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .header__menu-item {
    padding: 20px;
    margin: 20px;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.664);
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.burger-active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.burger-active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.burger-active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*
.menu {
  &__list {
    @media (min-width: $md3+px) {
      display: flex;
      align-items: center;
    }

    & > li {
      position: relative;
      margin: 0px 0px 0px 20px;

      @media (min-width: $md3+px) {
        padding: 10px 0;
      }
    }
  }

  // верстка самих пунктов меню

  &__link {
    color: #fff;
    font-size: 18px;
  }

  &__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;

    @media (min-width: $md3+px) {
      transform: translate(0px, 10%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }
  }

  &__sub-item {
    margin: 0px 0px 10px 0px;

    &:last-child {
      margin: 0;
    }
  }

  &__sub-link {
    color: #fff;
  }

  &__arrow {
	  display: none;
  }
}


==========================================================
если устройство - ноут или комп, то подменю показывается как обычно при наведении мышкой
если устройство - телефон, появляется стрелочка, которая переворачивается при клике


body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	display: block;
	margin: 0px 0px 0px 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	transition: transform 0.3s ease 0s;
}

body._touch .menu__list > li.active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
 }

 body._touch .menu__list > li.active .menu__arrow {
	 transform: rotate(-180deg);
 }
*/
.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
